<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>全网舆情监测</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../lib/bootstrap-3.3.7-dist/time/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
    <script src="../lib/bootstrap-3.3.7-dist/js/html5shiv.min.js"></script>
    <script src="../lib/bootstrap-3.3.7-dist/js/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script type="text/javascript" src="../lib/bootstrap-3.3.7-dist/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style>
        /*内容*/
        .navResult {
            position: relative;
        }

        .navResult-content {
            position: absolute;
            left: 80px;
            right: 80px;
        }

        .navResult-right {
            border: 1px solid #ddd;
            margin-top: 10px;
            padding: 30px;
            background-color: #ffffff;
        }

        .jbrwcjcx {
            width: 100%;
        }

        .jbrwcjcx td {
            padding: 10px 0;
        }

        .jbrwcjcxTime .timeSpan {
            margin: 5px 10px 0;
        }




    </style>
</head>
<body>
<div class="header">
    <div class="header-content" id="header-content">

    </div>
</div>
<div class="nav">
    <div class="nav-content">
        <ul class="nav-ul" id="navUrl">

        </ul>
    </div>
</div>
<div class="navResult">
    <div class="navResult-content">
        <div class="navResult-right">
            <table class="jbrwcjcx">
                <tr>
                    <td>时间范围</td>
                    <td class="jbrwcjcxTime">
                        <div id="datetimeStart" style="width: 250px;float: left"
                             class="input-group date form_datetime col-md-5"
                             data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" readonly placeholder="开始时间">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <span class="timeSpan" style="float: left">—</span>
                        <div id="datetimeEnd" style="width: 250px;float: left"
                             class="input-group date form_datetime col-md-5"
                             data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" readonly placeholder="结束时间">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>运营商</td>
                    <td>
                        <span style="margin: 0 10px"><label><input type="checkbox" value="联通"> 联通</label></span>
                        <span style="margin: 0 10px"><label><input type="checkbox" value="电信"> 电信</label></span>
                        <span style="margin: 0 10px"><label><input type="checkbox" value="移动"> 移动</label></span>
                    </td>
                </tr>
                <tr>
                    <td>调性属性</td>
                    <td id="jprwztG">
                        <span style="margin: 0 10px"><label><input type="checkbox" value="全向"> 全向</label></span>
                        <span style="margin: 0 10px"><label><input type="checkbox" value="正向"> 正向</label></span>
                        <span style="margin: 0 10px"><label><input type="checkbox" value="中立"> 中立</label></span>
                        <span style="margin: 0 10px"><label><input type="checkbox" value="负向"> 负向</label></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <button type="button" class="btn btn-danger redBtn btn-sm" onclick="cx_btn()">查询</button>
                        <button type="button" class="btn btn-danger redBtn btn-sm" onclick="dc_btn()">导出</button>
                    </td>
                </tr>
            </table>
            <div style="background-color: #ffffff;padding: 20px 0px">
                <div id="yqzst" style="min-width:400px;height: 500px;"></div>
            </div>

        </div>
    </div>
</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/pageNav.js"></script>
<script type="text/javascript" src="../js/hintModal.js"></script>
<script src="../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../lib/echarts/china.js"></script>
<!--time-->
<script type="text/javascript" src="../lib/bootstrap-3.3.7-dist/time/bootstrap-datetimepicker.min.js"
        charset="UTF-8"></script>
<script type="text/javascript" src="../lib/bootstrap-3.3.7-dist/time/bootstrap-datetimepicker.zh-CN.js"
        charset="UTF-8"></script>
<script>
    $("#navUrl .qwyqjc").addClass("menucur");
</script>
<script>
    /*自定义时间*/
    DatePicker("#datetimeStart", "#datetimeEnd");
    function DatePicker(beginSelector, endSelector) {
        // 仅选择日期
        $(beginSelector).datetimepicker(
            {
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                language: "zh-CN",
                startView: 2,
                minView: 'year',
                maxView: 'decade',
                endDate: new Date(),
                pickerPosition: "bottom-left"
            }).on('changeDate', function (ev) {
            if (ev.date) {
                $(endSelector).datetimepicker('setStartDate', new Date(ev.date.valueOf()))
            } else {
                $(endSelector).datetimepicker('setStartDate', null);
            }
        });

        $(endSelector).datetimepicker(
            {
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                language: "zh-CN",
                startView: 2,
                minView: 'year',
                maxView: 'decade',
                endDate: new Date(),
                pickerPosition: "bottom-left"
            }).on('changeDate', function (ev) {
            if (ev.date) {
                $(beginSelector).datetimepicker('setEndDate', new Date(ev.date.valueOf()))
            } else {
                $(beginSelector).datetimepicker('setEndDate', new Date());
            }
        })
    }
    /*舆情走势图*/
    var yqzst = echarts.init(document.getElementById("yqzst"));
    var yqzst_option = {
        title: {
            text: '舆情走势图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['正向', '负向', '中向']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            /*feature: {
             saveAsImage: {}
             }*/
        },
        xAxis: {
            type: 'category',
            data: ['05-08', '05-09', '05-11', '05-12', '05-13', '05-14', '05-15']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '正向',
                type: 'line',
                stack: '总量',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '负向',
                type: 'line',
                stack: '总量',
                data: [220, 182, 191, 234, 290, 330, 310]
            },
            {
                name: '中向',
                type: 'line',
                stack: '总量',
                data: [22, 182, 191, 34, 290, 330, 310]
            }
        ]
    };
    yqzst.setOption(yqzst_option);

</script>
</body>
</html>