/*内容*/
.navResult {
    position: relative;
}

.navResult-content {
    padding: 0 80px;
    position: absolute;
    left: 80px;
    right: 80px;
}

.navResult-left {
    width: 200px;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    top: 10px;
    border-right: none;
    height: 390px;
}

.navResult-left p {
    font-size: 16px;
    font-weight: bold;
    background-color: #f13d3c;
    margin: 0;
    color: #ffffff;
    padding: 4px;
}

#navResult-leftBtn li {
    margin: 2px;
}
#navResult-leftBtn li a {
    display: inline-block;
    width: 100%;
    padding: 6px 6px 6px 30px;
    font-size: 14px;
    cursor: pointer;
    color: #333333;
}

#navResult-leftBtn li a:hover {
    background-color: #f13d3c;
    color: #ffffff;
}

#navResult-leftBtn .libg {
    background-color: #f13d3c;
    color: #ffffff;
}

.navResult-right {
    position: absolute;
    left: 200px;
    border: 1px solid #ddd;
    right: 0;
    top: 10px;
    padding: 30px;
    background-color: #ffffff;
}

/*高频词汇*/
.zmgpch p, .fmgpch p {
    background-color: #d9534f;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 6px 0;
    font-weight: bold;
    border: 1px solid #dddddd;
    border-bottom: none;
}
.chdb:last-child p{
    background-color:#2f4554;
}
.gpchdb{
    font-size: 12px;
    font-weight: 100;
    color: #444444;
}
.gpchdb .tx{
    display: inline-block;
    background-color:#d9534f;
    width: 26px;
    height: 15px;
    border-radius: 4px;
    margin: 6px 6px -3px 8px;
}
.gpchdb .al{
    display: inline-block;
    background-color:#51616d;
    width: 26px;
    height: 15px;
    border-radius: 4px;
    margin: 6px 6px -3px 8px;
}
.zmgpch .zmgpchContent, .fmgpch .fmgpchContent {
    border: 1px solid #dddddd;
    border-top: none;
    overflow: hidden;
}

.zmgpch .zmgpchContent li, .fmgpch .fmgpchContent li {
    margin: 10px 0;
}

.zmgpch .zmgpchContent li span, .fmgpch .fmgpchContent li span {
    display: inline-block;
    background-color: #337ab7;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    color: #f9f9f9;
}

.fmgpch .fmgpchContent li span {
    background-color: #f0ad4e;
}

.chdb {
    overflow: hidden;
    margin-top: 20px;
}
#zm_sj table,#fm_sj table{
    border: 1px solid #dddddd;
    width: 100%;
}
#zm_sj th,#fm_sj th{
    padding: 4px 8px;
    text-align: center;
    background-color: #e10111;
    color: #ffffff;
}
#zm_sj td,#fm_sj td{
    padding: 4px 8px;text-align: center;
    border-top: 1px solid #dddddd;
}
.sjxh{
    background-color: #f7e8e9;
}
#zm_sj table tr:nth-child(even), #fm_sj table tr:nth-child(even){
    background: #f7efe5;
}
/*重点媒体*/
#zdmtjc p{
    font-size: 18px;
    font-weight: bold;
}
#zdmtjc table{
    border: 1px solid #dddddd;
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
}
#zdmtjc table td{
    padding: 4px 8px;
    text-align: center;
    border: 1px solid #dddddd;
}
#zdmtjc table tr:nth-child(odd){
    background: #f7efe5;
}
/*标题*/
.titleR {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.downloadR {
    text-align: right;
}

.downloadR img {
    width: 20px;
    height: 20px;
    margin: 0 2px;
}

.smR {
    margin-bottom: 30px;
}
.smTitle {
    font-size: 14px;
    font-weight: bold;
}

.smTime {
    font-weight: bold;
}

.smTime span {
    font-size: 14px;
    font-weight: 100;
}
