/*内容*/
.navResult {
    position: relative;
}

.navResult-content {
    padding: 0 80px;
    position: absolute;
    left: 80px;
    right: 80px;
}

.navResult-left {
    width: 200px;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    top: 10px;
    border-right: none;
    height: 390px;
}

.navResult-left p {
    font-size: 16px;
    font-weight: bold;
    background-color: #f13d3c;
    margin: 0;
    color: #ffffff;
    padding: 4px;
}

#navResult-leftBtn li {
    padding: 6px 6px 6px 30px;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
}

#navResult-leftBtn li:hover {
    background-color: #f13d3c;
    color: #ffffff;
}

#navResult-leftBtn .libg {
    background-color: #f13d3c;
    color: #ffffff;
}

.navResult-right {
    position: absolute;
    left: 200px;
    border: 1px solid #ddd;
    right: 0;
    top: 10px;
    padding: 30px;
    background-color: #ffffff;
}

.navResult-right p {
    font-size: 16px;
    font-weight: bold;
}

.jbrwcjcx {
    width: 100%;
    margin-top: 15px;
}

.jbrwcjcx td {
    padding: 10px 0;
}

.jbrwcjcxTime .timeSpan {
    margin: 5px 10px 0;
}

.tableBtn {
    padding: 0 8px;
}

.tableBtn:hover {
    color: #f13d3c;
}

/*关于表格*/
#table, #table tr, #table tr td, #table tr th, .fixed-table-container {
    border: none;
}

.pull-left {
    display: none !important;
}

.pull-right .pagination li a {
    border: none;
}

#datetimeStartFcj label.error, #datetimeEndFcj label.error {
    z-index: 1000;
    margin-right: 28px;
    top: 9px;
}

#datetimeStartFcj input.error, #datetimeEndFcj input.error {
    background-color: #fbe2e2;
    border-color: #c66161 !important;
    color: #c00;
}

/*引用方案*/
.yyfa {
    width: 200px;
    z-index: 10000000;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-top: 0;
    position: absolute;
    display: none;
}

.yyfa #treeDemo {
    padding: 0 6px;
}

.faTitle {
    background-color: #f13d3c;
    color: #ffffff;
    padding: 4px;
    margin-bottom: 2px;
}

.faTitle span {
    cursor: pointer;
    color: #dddddd;
}

.faTitle span:hover {
    cursor: pointer;
    color: #ffffff;
}

.rdsjfxcj td {
    padding: 10px 4px;
    position: relative;
}
.rdsjfxcj td label.error{
    top: 20px;
}

