<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>热点事件分析</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/table/bootstrap-table.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="lib/bootstrap-3.3.7-dist/time/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="css/htmlCss/rdsjfxbg.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
    <script src="lib/bootstrap-3.3.7-dist/js/html5shiv.min.js"></script>
    <script src="lib/bootstrap-3.3.7-dist/js/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/bootstrap-3.3.7-dist/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
</head>
<body>
<div class="header">
    <div class="header-content" id="header-content">

    </div>
</div>
<div class="nav">
    <div class="nav-content">
        <ul class="nav-ul" id="navUrl">

        </ul>
    </div>
</div>
<div class="navResult">
    <div class="navResult-content">
        <div class="navResult-left">
            <p>事件分析报告</p>
            <ul id="navResult-leftBtn">
                <li><a href="#jjsm">事件简介</a></li>
                <li><a href="#sjzs">事件走势</a></li>
                <li><a href="#slqst">声量趋势图</a></li>
                <li><a href="#txfx">调性分析</a></li>
                <li><a href="#dyfxdb">地域分析</a></li>
                <li><a href="#gjcy">关键词云</a></li>
                <li><a href="#rmxx">热门信息</a></li>
                <li><a href="#zjzj">事件总结</a></li>
            </ul>
        </div>
        <div class="navResult-right">
            <p class="titleR">流量升级分析报告</p>
            <p class="downloadR"><img src="static/img/wd_download.png" alt=""><img src="static/img/ftp_download.png"
                                                                                   alt=""></p>
            <ul class="smR">
                <li class="smTime">分析周期：<span>2018年06月29日 - 2018年07月05日</span></li>
                <li id="jjsm" class="jjsm">事件简介：<span>本报告围绕关键词“省内流量升级全国”，对2018/06/29 00:00~2018/07/05 18:56期间，互联网上采集到的信息进行了深入分析。全网声量最高峰出现在2018/07/03 06:00:00，共产生6篇相关讯息；事件源头于2018/06/29 12:12分发布在微信上，题名为『：中国联通7月1日起省内流量升级全国流量！』。后续报道主要来源于新浪微博、微信、ZAKER、新科技、百家号等几大站点。总体来说，整个事件的发展趋势较为突出，详细报告如下</span>
                </li>
            </ul>
            <div id="sjzs">
                <p class="contentTitle">事件走势</p>
                <table class="sjzsTable">
                    <tr>
                        <td class="timtLine"><span class="timet">06-29</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="timtLine"><span class="timec"><span></span></span></td>
                        <td class="timejt"><span></span></td>
                        <td class="timtContent">
                            <p>
                                告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="timtLine"><span class="timec"><span></span></span></td>
                        <td class="timejt"><span></span></td>
                        <td class="timtContent">
                            <p>
                                告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="timtLine"><span class="timec"><span></span></span></td>
                        <td class="timejt"><span></span></td>
                        <td class="timtContent">
                            <p>
                                告围绕关键词告围绕关键词告围告围绕关键词告围告围绕关键词告围告围绕关键词告围告围绕关键词告围告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="timtLine"><span class="timec"><span></span></span></td>
                        <td class="timejt"><span></span></td>
                        <td class="timtContent">
                            <p>
                                告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词告围绕关键词</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="timtLine"><span class="timew"><span>续</span></span></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="slqst" style="min-width:600px;height: 400px;margin-top: 30px"></div>
            <div id="txfx" style="min-width:600px;height: 400px;margin-top: 30px"></div>
            <div id="dyfxdb" style="width: 100%;height: 500px;margin-top: 30px">
                <div id="dyfx" style="min-width:500px;height: 500px;width: 75%;float: left"></div>
                <div id="dyfxTable" style="height: 500px;width: 20%;float: left;overflow: auto">
                    <table>
                        <tr>
                            <th>省份</th>
                            <th>信息数</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="gjcy" style="min-width:600px;height: 300px;margin-top: 30px"></div>
            <div id="rmxx" style="margin-top: 30px">
                <p class="contentTitle">热门信息</p>
                <table>
                    <tr>
                        <th>标题</th>
                        <th>来源站点</th>
                        <th>时间</th>
                        <th>转发数</th>
                    </tr>
                    <tr>
                        <td>重点媒体重点媒体重点媒体重点媒体</td>
                        <td>腾讯网</td>
                        <td>2018-03-29</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>重点媒体重点媒体重点媒体重点媒体</td>
                        <td>腾讯网</td>
                        <td>2018-03-29</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>重点媒体重点媒体重点媒体重点媒体</td>
                        <td>腾讯网</td>
                        <td>2018-03-29</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>重点媒体重点媒体重点媒体重点媒体</td>
                        <td>腾讯网</td>
                        <td>2018-03-29</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>重点媒体重点媒体重点媒体重点媒体</td>
                        <td>腾讯网</td>
                        <td>2018-03-29</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>重点媒体重点媒体重点媒体重点媒体</td>
                        <td>腾讯网</td>
                        <td>2018-03-29</td>
                        <td>22</td>
                    </tr>

                </table>
            </div>
            <div id="zjzj" style="margin-top: 30px">
                <p class="contentTitle">热门信息</p>
                <p>综上所述，在『流量升级』事件/话题中，媒体主流报道为『移动流量取消漫游费
                    你甚至可能因此多花钱』，应深入挖掘媒体意见和情感倾向，识别事件传播过程中的意见领袖和主要信息来源，预测或追踪舆论走向，以便对不良舆论进行疏导。</p>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/hintModal.js"></script>
<script type="text/javascript" src="js/pageNav.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="lib/echarts/echarts.min.js"></script>
<script src="lib/echarts/echarts-wordcloud.min.js"></script>
<script type="text/javascript" src="lib/echarts/china.js"></script>
<script>
    $("#navUrl .rdsjfx").addClass("menucur");
</script>
<script type="text/javascript" src="js/htmlJs/rdsjfxbg.js"></script>

</body>
</html>