<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.tancms.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.unicom.tancms.pojo.Menu" >
    <id column="MENU_ID" property="menuId" jdbcType="BIGINT" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="BIGINT" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PARENT_MENU_ID" property="parentMenuId" jdbcType="BIGINT" />
    <result column="ICON_NAME" property="iconName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MENU_ID, MENU_NAME, URL, PRIORITY, DESCRIPTION, PARENT_MENU_ID, ICON_NAME, STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unicom.tancms.pojo.MenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from menu
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.unicom.tancms.pojo.MenuExample" >
    delete from menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unicom.tancms.pojo.Menu" >
    insert into menu (MENU_ID, MENU_NAME, URL, 
      PRIORITY, DESCRIPTION, PARENT_MENU_ID, 
      ICON_NAME, STATUS)
    values (#{menuId,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{priority,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, #{parentMenuId,jdbcType=BIGINT}, 
      #{iconName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unicom.tancms.pojo.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="priority != null" >
        PRIORITY,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="parentMenuId != null" >
        PARENT_MENU_ID,
      </if>
      <if test="iconName != null" >
        ICON_NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null" >
        #{parentMenuId,jdbcType=BIGINT},
      </if>
      <if test="iconName != null" >
        #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unicom.tancms.pojo.MenuExample" resultType="java.lang.Integer" >
    select count(*) from menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update menu
    <set >
      <if test="record.menuId != null" >
        MENU_ID = #{record.menuId,jdbcType=BIGINT},
      </if>
      <if test="record.menuName != null" >
        MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null" >
        PRIORITY = #{record.priority,jdbcType=BIGINT},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.parentMenuId != null" >
        PARENT_MENU_ID = #{record.parentMenuId,jdbcType=BIGINT},
      </if>
      <if test="record.iconName != null" >
        ICON_NAME = #{record.iconName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update menu
    set MENU_ID = #{record.menuId,jdbcType=BIGINT},
      MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      PRIORITY = #{record.priority,jdbcType=BIGINT},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      PARENT_MENU_ID = #{record.parentMenuId,jdbcType=BIGINT},
      ICON_NAME = #{record.iconName,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicom.tancms.pojo.Menu" >
    update menu
    <set >
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        PRIORITY = #{priority,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null" >
        PARENT_MENU_ID = #{parentMenuId,jdbcType=BIGINT},
      </if>
      <if test="iconName != null" >
        ICON_NAME = #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicom.tancms.pojo.Menu" >
    update menu
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=BIGINT},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PARENT_MENU_ID = #{parentMenuId,jdbcType=BIGINT},
      ICON_NAME = #{iconName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR}
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </update>
</mapper>